<p id="notice"><%= notice %></p>

<div class="jumbotron">
	<div class="container">
		<h1>Blog (Rails Application)</h1>
	</div>
</div>

<div class="container">
	<% @posts.each do |post| %>
		<div class="post-container">
			<div class="post-title">
				<h2><%= link_to post.title, post %></h2>
			</div>
			<div class="post-description">
				<p><%= truncate post.description, :length => 400 %></p>
			</div>
			<div class="pull-left">
				<!-- <br> -->
				<%= link_to 'Read more', post , :class=> "read-more" %>
			</div>
			<div class="post-time pull-right">
				<p><%= "Posted on: " + post.posted_on.strftime("%d-%m-%y") %></p>
			</div>
		</div><br>
	<% end %>
</div>
<!-- <table>
  <thead>
	<tr>
	  <th>Title</th>
	  <th>Description</th>
	  <th>Posted on</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @posts.each do |post| %>
	  <tr>
		<td><%= post.title %></td>
		<td><%= post.description %></td>
		<td><%= post.posted_on %></td>
		<td><%= link_to 'Show', post %></td>
		<td><%= link_to 'Edit', edit_post_path(post) %></td>
		<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
 -->




<br>


