<div class="container">
	<!-- 
	<p id="notice"><%= notice %></p>
	 -->
	<div>
		<h1><%= @post.title %></h1>
	 	<p>
	 		Posted on: <%= @post.posted_on.strftime("%d-%m-%y") %>
	 	</p>
	<%= link_to 'Back', posts_path %>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>

	</div><br><br>

	<!-- <p>
	  <strong>Title:</strong>
	  <%= @post.title %>
	</p> -->

	<p>
	  <!-- <strong>Description:</strong> -->
	  <%= raw @post.description %>
	</p>


	<!-- <p>
	  <strong>Posted on:</strong>
	</p> -->

</div>
