<div class="container">
	<div>
		<h1><%= @post.title %></h1>
	 	<p>
	 		Posted on: <%= @post.posted_on.strftime("%d-%m-%y") %>
	 	</p>
	<%= link_to 'Back', posts_path %>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>
	</div><br><br>
	<p>
	  <%= raw @post.description %>
	</p>
<br><br>
	<%= form_for @comment do |f| %>
		<%= f.label_for :content %>
		<%= t.text_area :content %>

	<% end %>
</div>
