<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<div class="navbar-container">
			<ul>
				<li><%= link_to "Home", root_path %></li>
					<li>
						<%= form_tag posts_path, :method => :get, :class => "search_form" do %>
							<%= text_field_tag :key, params[:search], :placeholder => "Search for a post" %>
							<%= submit_tag :Search %>
						<% end %>
					</li>
				<div class="pull-right">
					<% if user_signed_in? && current_user.role == "admin" %>
					<li><%= link_to 'Post as ('+current_user.email+')', new_post_path %></li>
					<li><%= link_to "Account Settings", edit_user_registration_path %></li>
					<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
				<% elsif !!current_user && current_user.role == "public" %>
					<li><p>Welcome, <%= current_user.email %></p></li>
					<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
				<% elsif !user_signed_in? %>
					<li><%= link_to "Sign Up", new_user_registration_path, :method => :get %></li>
					<li><%= link_to "Sign In", user_session_path, :method => :get %></li>
        		<% end %>


				</div>
			</ul>
		</div>
	</div>
	<% if flash[:notice] %>
		<div class="notice-wrapper">
			<p class="notice"><%= notice %></p>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div class="alert-wrapper">
			<p class="alert"><%= alert %></p>
		</div>
	<% end %>

	<%= yield %>

</body>
</html>